*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, .container{
    width: 100vw;
    height: 100vh;
}
.container {
    /* display: block; */
    /* flex-direction: column; */
    margin: 0 px auto; 
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    height: 100px;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 45rem;
    text-align: center;
     justify-content: center;
}
.about {
    display: flex;
}
.me {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

.virtual-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.virtual-pet-img {
    width: 400px;
    height: 200px;
    margin: 20px;
}
.fizz-buzz-kata {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin: 20px auto;
}
.fizz-buzz-kata-img {
    width: 400px;
    height: 200px;
    object-fit: contain;
    margin: 20px;
}
.skills-tech {
    display: flex;
    justify-content: stretch;
}
footer {
    display: flex;
    flex-direction: column;
}
.contact {
    display: flex;
    justify-content: center;
}
.footer-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.linked-In {
    height: 64px;
    width: 64px;
}
