*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
}
.container {
    margin: 0 px auto; 
    text-align: center;
    width: 100vw;
    height: 100vh;
}


.header {
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    /* height: auto; */
    width: 100%;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 42rem;
    text-align: center;
     justify-content: center;
}
.about {
    display: flex;
}
.me {
    height: 300px;
    width: 300px;
    border-radius: 55px;
}
#title {
    margin: 30px;
}

.virtual-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.virtual-pet-img {
    width: 350px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
}
.fizz-buzz-kata {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}
.fizz-buzz-kata-img {
    width: 350px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
}
.skills-tech {
    display: flex;
    justify-content: stretch;
}
.footer {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
}
.footer-nav {
    display: flex;
    justify-content: space-around;
}
.linked-In {
    height: 64px;
    width: 64px;
}
